{% extends "base.html" %}
{% block titulo_pagina %}
    {% if etiqueta %}
        Publicaciones con etiqueta: {{ etiqueta.nombre }}
    {% else %}
        Lista de Publicaciones
    {% endif %}
{% endblock %}
{% block content %}

    <div class="text-start">
        <a href="{{ url_for('publicacion.add') }}" class="btn btn-primary btn-sm mb-1">
            <i class="bi bi-plus-circle"></i> Agregar Publicación
        </a>
        {% if etiqueta %}
        <a href="{{ url_for('publicacion.index') }}" class="btn btn-secondary btn-sm mb-1 ms-2">
            <i class="bi bi-arrow-left"></i> Ver todas las publicaciones
        </a>
        {% endif %}
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Contenido</th>
                <th>Usuario</th>
                <th>Etiquetas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for publicacion in data %}
                <tr>
                    <td>{{ publicacion.id }}</td>
                    <td>{{ publicacion.titulo }}</td>
                    <td>{{ publicacion.contenido[:50] }}{% if publicacion.contenido|length > 50 %}...{% endif %}</td>
                    <td>{{ publicacion.user.nameUser }}</td>
                    <td>
                        {% if publicacion.etiquetas %}
                            {% for etiqueta in publicacion.etiquetas %}
                                <a href="{{ url_for('publicacion.publicaciones_por_etiqueta', etiqueta_id=etiqueta.id) }}" class="badge bg-light text-dark me-1">{{ etiqueta.nombre }}</a>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('publicacion.detail', id=publicacion.id) }}" class="btn btn-success btn-sm mb-1">
                            <i class="bi bi-eye"></i>
                        </a>
                        {% if publicacion.user_id == current_user.idUser %}
                        <a href="{{ url_for('publicacion.edit', id=publicacion.id) }}" class="btn btn-primary btn-sm mb-1">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="{{ url_for('publicacion.delete', id=publicacion.id) }}" class="btn btn-danger btn-sm mb-1">
                            <i class="bi bi-trash"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}